{% extends "_layout.html" %}

{% block title %}{{ _('Page not found') }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ _('Page not found') }}</h1>

    <p>{{ _('Page request were not found') }}.</p>
    <p><a href="{{ url_for('index') }}">{{ _('Go back') }}</a></p>
</div>
{% endblock %}
