<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

    <link href="/admin/static/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="/admin/static/bootstrap/css/bootstrap-responsive.css"
    type="text/css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css' ) }}" type="text/css" rel="stylesheet" />
    <link href="{{ url_for('pygments_css') }}" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-collapse.js') }}"></script>
</head>

<body>
    {% include "_navbar.html" %}

    {% include "_metanav.html" %}

    {% block body %}{% endblock %}

    {% include "_footer.html" %}
</body>
</html>
