<div class="metanav">
    {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">{{ _('log in') }}</a>
    {% else %}
    <a href="{{ url_for('logout') }}">{{ _('log out') }}</a>
    {% endif %}
</div>
