<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <span class="brand">{{ _("DePierre's Blog") }}</span>
            <ul class="nav">
                {% for endpoint, caption in [
                    ('index', _('Home')),
                    ('show_posts', _('Posts')),
                    ('show_categories', _('Categories')),
                    ('about', _('About')),
                    ] %}
                    <li {% if endpoint == request.endpoint %}class="active"{%
                    endif %}><a href="{{ url_for(endpoint) }}">{{ caption
                        }}</a></li>
                {% endfor %}
            </ul>
            <form class="navbar-search pull-right" method="post" action="{{ url_for('search') }}">
                <input type="text" name="tags" class="search-query"
                placeholder="Search" />
            </form>
        </div>
    </div>
</div>
