{% extends "_layout.html" %}

{% block title %}{{ _('Categories') }}{% endblock %}
{% block body %}
<div class="container">
    {% if categories %}
    <div class="accordion" id="accordion2">
        {% for category in categories %}
        <div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{ category.id }}">
                    {{ category.name }}
                </a>
            </div>

            <div id="collapse{{ category.id }}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>{{ _('Post Title') }}</th>
                                <th>{{ _('Version') }}</th>
                                <th>{{ _('Publication Date') }}</th>
                                <th>{{ _('Tags') }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in category.posts if post.public %}
                            <tr>
                                <td><a href="{{ url_for('show_posts') }}{{ post.id }}">{{ post.title }}</a></td>
                                <td>
                                    {% if post.lang == 'en' %}
                                        <img src="{{ url_for('static', filename='images/blank.gif') }}" class="flag flag-us" alt="English Version" />
                                    {% else %}
                                        <img src="{{ url_for('static', filename='images/blank.gif') }} " class="flag flag-fr" alt="Version Française" />
                                    {% endif %}
                                </td>
                                <td>{{ post.pub_date }}</td>
                                <td>
                                    {% for tag in post.tags %}
                                        <a href="{{ url_for('search', tag=tag.label) }}">{{ tag.label }}</a>
                                    {% endfor %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="alert alert-block fade in">
        {{ _('No post found') }}
    </div>
    {% endif %}
</div>
{% endblock %}
