{% extends "_layout.html" %}

{% block title %}{{ _(category.name) }} - {{ _('Categories') }}{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ _(category.name) }}</h1>
    <table class="table table-striped table-bordered model-list">
        <thead>
            <tr>
                <th>{{ _('Post Title') }}</th>
                <th>{{ _('Version') }}</th>
                <th>{{ _('Publication Date') }}</th>
                <th>{{ _('Tags') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for post in category.posts if post.public %}
            <tr>
                <td><a href="/posts/{{ post.id }}">{{ post.title }}</a></td>
                <td>
                    {% if post.lang == 'en' %}
                    <img src="{{ url_for('static', filename='images/blank.gif') }}" class="flag flag-us" alt="English Version" />
                    {% else %}
                    <img src="{{ url_for('static', filename='images/blank.gif') }} " class="flag flag-fr" alt="Version Française" />
                    {% endif %}
                </td>
                <td>{{ post.pub_date }}</td>
                <td>
                    {% for tag in post.tags %}
                        <a href="{{ url_for('search', tag=tag.label) }}">{{ tag.label }}</a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
