{% extends "_layout.html" %}

{% block title %}{{ _("DePierre's Blog") }}{% endblock %}

{% block body %}
<div class="container">
    {% if post %}
    <h1>{{ _('Last Post') }}</h1>
    <div class="post">
        <h1>
            <a href="{{ url_for('show_posts')}}{{ post.id }}">{{ post.title }}</a>
            {% if post.lang == 'en' %}
            <img src="{{ url_for('static', filename='images/blank.gif') }}" class="flag flag-us" alt="English Version" />
            {% else %}
            <img src="{{ url_for('static', filename='images/blank.gif') }} " class="flag flag-fr" alt="Version Française" />
            {% endif %}
        </h1>
        <hr />
        <span class="pub_date">{{ _('Published on') }} {{ post.pub_date }}, {{
            _('in') }}
        {% for category in post.categories %}
        <a href="{{ url_for('show_categories')}}{{ category.id }}">{{
            _(category.name) }}</a>
        {% endfor %}
        </span>
        <hr />
        <div class="body">
            {{ post.body|safe }}
        </div>
        {% if post.tags|length %}
        <hr />
        <span class="tags">{{ _('Tags') }}:
            {% for tag in post.tags %}
                <a href="{{ url_for('search', tag=tag.label) }}">{{ tag.label }}</a>
            {% endfor %}
        </span>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
