{% extends "_layout.html" %}

{% block title %}{{ _('License') }}{% endblock %}

{% block body %}
<p align="center">
    DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
</p>
<p align="center">
    Version 2, December 2004
</p>
<p align="center">
    <br />
    Copyright (C) 2004 Sam Hocevar &lt;sam@hocevar.net&gt;<br />
    <br />
</p>
<p align="center">
    Everyone is permitted to copy and distribute verbatim or modified
    copies of this license document, and changing it is allowed as long
    as the name is changed.<br />
</p>
<p align="center">
    DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
</p>
<p align="center">
    TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION
</p>
<p align="center">
    0. You just DO WHAT THE FUCK YOU WANT TO.
</p>
{% endblock %}
