{% extends "_layout.html" %}

{% block title %}{{ _('Login') }}{% endblock %}

{% block body %}
<form action="{{ url_for('login') }}" method="post">
    <dl>
        <dt>{{ _('Username') }}:</dt>
        <dd><input type="text" name="username" /></dd>
        <dt>{{ _('Password') }}:</dt>
        <dd><input type="password" name="password" /></dd>
        <dd><input type="submit" value="{{ _('Login') }}" /></dd>
    </dl>
</form>
{% endblock %}
