{% extends "_layout.html" %}

{% block title %}{{ _('Posts') }}{% endblock %}

{% block body %}
<div class="container">
    {% if posts|length > 0 %}
    <table class="table table-striped table-bordered model-list">
        <thead>
            <tr>
                <th>{{ _('Post Title') }}</th>
                <th>{{ _('Version') }}</th>
                <th>{{ _('Publication Date') }}</th>
                <th>{{ _('Categories') }}</th>
                <th>{{ _('Tags') }}</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts if post.public %}
            <tr>
                <td><a href="{{ url_for('show_posts') }}{{ post.id }}">{{
                        post.title }}</a></td>
                <td>
                    {% if post.lang == 'en' %}
                    <img src="{{ url_for('static', filename='images/blank.gif') }}" class="flag flag-us" alt="English Version" />
                    {% else %}
                    <img src="{{ url_for('static', filename='images/blank.gif') }} " class="flag flag-fr" alt="Version Française" />
                    {% endif %}
                </td>
                <td>{{ post.pub_date }}</td>
                <td>
                    {% for category in post.categories %}
                    <a href="{{ url_for('show_categories')}}{{ category.id
                        }}">{{ _(category.name) }}</a>
                    {% endfor %}
                </td>
                <td>
                    {% for tag in post.tags %}
                        <a href="{{ url_for('search', tag=tag.label) }}">{{ tag.label }}</a>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>{{ _('No post found') }}</p>
    {% endif %}
</div>
{% endblock %}
