ul {
    list-style: none;
}

body {
    padding-bottom: 36px;
    padding-top: 48px;
    font-family:'Open Sans',sans-serif;
}

.body ul {
    list-style-image: url("images/right.png");
    margin-left: 10px;
}

.container hr {
    width: 50%;
    align: center;
}

.post h1 {
    font-size: 150%;
}

.post h2 {
    font-size: 120%;
}

.post a {
    text-decoration: none;
}

.post a:hover {
    text-decoration: none;
}

.post hr {
    width: 10%;
    align: center;
    margin: 7px;
    margin-left: 0px;
}

.categorie h1 {
    font-size: 150%;
}

.categorie h2 {
    font-size: 120%;
    display: inline;
}

.categorie a {
    text-decoration: none;
}

.categorie a:hover {
    text-decoration: none;
}

.categorie ul {
    list-style: none;
}

.categorie li {
    list-style: none;
}

.brand a {
    text-decoration: none;
}

.brand a:hover {
    text-decoration: none;
}

.metanav {
    display: block;
    float: right;
    position: relative;
    text-align: right;
    padding: 0.3em;
    margin: 0;
}

.metanav a {
    text-align: right;
}

.flag {
    width: 16px;
    height: 11px;
    background: url("/static/images/flags.png") no-repeat;
}

.flag.flag-fr {
    background-position: -16px 0;
}

.flag.flag-us {
    background-position: 0 -11px;
}

.footer {
    text-align: center;
}

.footer p {
    display: inline;
    text-align: center;
}
